@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Eric Prather</h1>
    <p>4515 Sunland Street SE</p>
    <p>Salem Oregon 97302</p>
    <p>
        (503)-551-0252 |
        <a href="mailto:pratherea@gmail.com">pratherea@gmail.com</a> |
        <a href="https://www.linkedin.com/in/eric-prather/">https://www.linkedin.com/in/eric-prather/</a>
    </p>
    <hr />
</div>
<div>
    <h2>About</h2>
    <p>
        Seeking full-time work positions, preferring a role with an emphasis on programming, electronic design, technical writing, or empirical evaluation. I have extensive experience in scientific research and higher level software development. I have pursued lower-level hardware, assembly, architecture, and operating-systems level courses in addition to my primary Computer Science BS.
    </p>
    <h2>Education</h2>
    <p>
        <strong>BS in Computer Science</strong> (Systems) at Oregon State University, completed 2021.<br/>
        <strong>GPA</strong>: 3.66
    </p>
    <h2>Skills</h2>
    <table class="skills">
        <thead>
            <tr>
                <td class="skills-header">Core Languages</td>
                <td class="skills-header">Web Tools</td>
                <td class="skills-header">Other Tools</td>
                <td class="skills-header">Higher-level Expertise</td>
                <td class="skills-header">Lower-level Expertise</td>
                <td class="skills-header">Other Proficiencies</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>C#</li>
                        <li>C++</li>
                        <li>C</li>
                        <li>Java</li>
                        <li>Python</li>
                        <li>JavaScript</li>
                        <li>PHP</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>ASP.NET</li>
                        <li>Node.js</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Azure</li>
                        <li>SQL</li>
                        <li>SQL Server</li>
                        <li>Oracle Database</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Git</li>
                        <li>Windows</li>
                        <li>Linux</li>
                        <li>Bash scripting</li>
                        <li>Docker</li>
                        <li>XUnit</li>
                        <li>Unity3D</li>
                        <li>Unreal Engine</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Software Engineering</li>
                        <li>Operating Systems</li>
                        <li>Parallel Programming</li>
                        <li>Databases</li>
                        <li>Machine Learning</li>
                        <li>Compilers</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Data Structures</li>
                        <li>Digital Logic</li>
                        <li>Assembly</li>
                        <li>Computer Architecture</li>
                        <li>Electrical Fundamentals</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Discrete Mathematics</li>
                        <li>Differential Equations</li>
                        <li>Vector Calculus</li>
                        <li>General Physics</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Experience</h2>
    <p>
        <strong>Undergraduate Researcher and Learning Assistant</strong> - <em>2 years equivalent full time professional experience, 2018-21</em><br />
        Under Dr. Raffaele de Amicis, I pursued extracurricular research activities including but not limited to scientific design and experimentation, journal publication, proposal writing, software design, and programming. Emphasis was placed on projects related to human-computer interaction, virtual and augmented reality, and physiology. Additionally, I helped to teach software engineering courses.
        The work was full-time during summer months and part time otherwise.
        <br />
        <em>
            Position Details, including specific periods of work and funding sources,
            available on <a href="https://www.linkedin.com/in/eric-prather/">LinkedIn</a>.
        </em>
    </p>
    <p>
        <strong>Power Management for Collective Ground Robots</strong> - <em>Senior Capstone Design Project, 2020-21</em><br />
        This capstone project entailed design and implementation of hardware and software components for power management of the ground robots in the HMTLab Collective Robotics testbed. The project has four major components: design an extended wireless charging dock that can accommodate multiple robots simultaneously, integrate wireless charging components into the UGV electronics system, design a data collection and user interface for monitoring the UGVs during operation, and designing data-driven battery management algorithms to improve individual and collective robotic task performance.

        This project utilized an ASP.NET server exposing a RESTful web API and interfacing with a SQL server database. Firmware was written in C++. The organization and validation was heavily supported by a custom automated XUnit testing suite.
    </p>
    <p>
        Additional experiences listed on <a href="https://github.com/Vectis99">GitHub</a>.
    </p>
    <h2>Publications</h2>
    <h3>Author in:</h3>
    <p>
        Prather, Eric A., et al. "A Systematic Literature Review on Dynamic Cognitive Augmentation through Immersive Reality: Challenges and Perspectives." <em>Proceedings of SPIE</em>, vol. 11426, SPIE, 2020, pp. 74–93. www.spiedigitallibrary.org, doi:<a href="https://doi.org/10.1117/12.2563816">10.1117/12.2563816</a>.
    </p>
    <p>
        De Amicis, Raffaele, et al. "Cross-Reality Environments in Smart Buildings to Advance STEM Cyberlearning." <em>International Journal on Interactive Design and Manufacturing</em>, vol. 13, no. 1, Springer Paris, Mar. 2019, pp. 331–48, doi:<a href="https://doi.org/10.1007/s12008-019-00546-x">10.1007/s12008-019-00546-x</a>.
    </p>
    <p>
        De Amicis, Raffaele, et al. "A VR Training System for Learning and Skills Development for Construction Workers." <em>Virtual Reality</em>, vol. 25, Springer, 2021, pp. 523-538, doi:<a href="https://doi.org/10.1007/s10055-020-00470-6">10.1007/s10055-020-00470-6</a>.
    </p>
    <h3>Acknowledgement in:</h3>
    <p>
        Simões, Bruno, et al. "X-Reality System Architecture for Industry 4.0 Processes." <em>Multimodal Technologies and Interaction</em>, vol. 2, no. 4, Multidisciplinary Digital Publishing Institute, Oct. 2018, p. 72, doi:<a href="https://doi.org/10.3390/mti2040072">10.3390/mti2040072</a>.
    </p>
</div>
